<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title - My ASP.NET Application
    </title>

    <!-- plugins:css -->
    <link href="@Url.Content("~/Assets/Css/beardcurmb.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/iconfonts/mdi/css/materialdesignicons.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/Assets/css/vendor.bundle.base.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/vendor.bundle.addons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/font-awesome.min.css")">
    <link href="@Url.Content("~/Assets/Css/datepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/Css/custom.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/Css/animate.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/Css/materialdesignicons.min.css")" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css">
    <link href="@Url.Content("~/Assets/Css/play-sans-font-css.css")" rel="stylesheet" />


    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->

    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/wizard.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/kebab.min.css")">

    <!-- endinject -->
    <link rel="shortcut icon" href="@Url.Content("~/Assets/Images/titan_icon.png")">
    <!-- JQuery Confirm Popup CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/jquery-confirm.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/AccountExcel.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/bootstrap.min.css")">
    @*<link rel="stylesheet" href="@Url.Content("~/Assets/css/accountstyle.css")">*@
    <!-- plugins:js -->
    <script src="@Url.Content("~/Assets/Scripts/jquery-2.2.4.min.js")"></script>
    <script src="@Url.Content("~/Assets/Scripts/vendor.bundle.base.js")"></script>
    <script src="@Url.Content("~/Assets/Scripts/vendor.bundle.addons.js")"></script>
    <script src="@Url.Content("~/Assets/Scripts/wizard.js")"></script>
    <script src="@Url.Content("~/Assets/Scripts/Common.min.js")"></script>
    <script src="@Url.Content("~/Assets/Scripts/Gridview-1.0.2.min.js")"></script>
    <script src="@Url.Content("~/Assets/Scripts/dropdown.min.js")"></script>
    <script src="@Url.Content("~/Assets/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Assets/Scripts/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Assets/Scripts/add-table-row.js")"></script>
    <!-- JQuery Confirm Popup JS -->
    <script src="@Url.Content("~/Assets/Scripts/jquery-confirm.min.js")"></script>

    <script src="@Url.Content("~/Assets/Scripts/bootstrap.min.js")"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>
